#board{
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	margin: auto;
}

.square{
	width: 30%;
	background-color: white;
	padding: 30px;
	box-sizing: border-box;
	float: left;
	font-size: 80px;
	border: 2px solid black;
	transition: all 2s;
}
.square.moveMe{
	transform: rotate(360deg);
	border-radius: 50%
}
.p1:hover{
	background-color: red;
}
.p2:hover{
	background-color: blue;
}
.winning-square{
	background-color: orange !important;
	color: red !important
}
img{
	max-width: 75%;
}